* {
    /* border: 1px; */
    /* border-style: dotted; */
}

header {
    text-align: center;
    font-size: xx-large;
}

body {
    background-color: #E4E6ED;
    height: 100vh;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0A0624;
    color: #E4E6ED;
    padding: 10px;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    font-size: 100px;
}

h5 {
    font-size: 150%;
    font-family: 'Source Sans Pro', sans-serif;
}

.debug {
    border: red;
    border-style: dotted;
    border-width: 1px;
    height: 100%;
}

/* ANCHOR NAVBAR!! */

.navbar {
    padding-left: 25px;
    background-color: #0A0624;
}

.nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: xx-large;
    color: #E4E6ED;
    margin-left: 30px;
    margin-right: 20px;
    padding: 0px;
}

#navbar__logo {
    color: #E4E6ED;
    padding-left: 30px;
}

#navbar__fullname {
    color: #E4E6ED;
    font-family: 'Source Sans Pro', serif;
    font-size: 250%;
    letter-spacing: 5px;
    margin-left: 5%;
}

#navbar-gradient-hack {
    background: linear-gradient(180deg, rgba(10,6,36,1) 0%, rgba(10,6,36,0.5) 68%, rgba(10,6,36,0) 100%);
    height: 10px
}

.fa-caret-square-down {
    color: #E4E6ED;
}


/* ANCHOR INDEX */

.btn--index {
    height: 150%;
    width: 75%;
    background-color: #0A0624;
    color: #E4E6ED;
}

.bio-row {
    margin-top: 2vh;
    height: 40vh;
    align-items: center;
}

.bio-header {
    font-family: 'Recursive', serif; /* fun easy-going serif text */
    text-align: center;
    padding-top: 5%;
}

.bio-desc {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 25px;
    font-size: larger;
}


#bio-picture-img {
    z-index: -1;
    /* regardless of the size of the page, 
    the height will always be 100% of the parent */
    height: 100vh;
    object-fit: cover;
    /* Object Position declares the center of the image (will crop the image with this point as the anchor) */
    object-position: 40% 50%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#bio-picture-img--sm {
    z-index: -1;
    opacity: 50%;
    /* regardless of the size of the page, 
    the height will always be 100% of the parent */
    height: 100%;
    max-height: 120%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
}

#bio-description__button {
    height: 200px;
}

/* ANCHOR CONTACT PAGE -- FORMS */

.form-group label {
    font-size: larger;
}

/* ANCHOR PORTFOLIO PAGE */

.card {
    width: 100%;
    height: 50%;
}

.card-img-top {
    object-fit: cover;
}

/* SMALL SCREEN */
@media screen and (max-width: 991px) {
    .bio-row {
        height: 75%;
    }
    .bio-header {
        font-size: 300%;
    }
    .nav-link {
        text-align: end;
    }
    #navbar__fullname {
        margin-left: 1%
    }
}

/* MEDIUM SCREEN */
@media screen and (min-width: 992px) {
    .bio-header {
        font-size: 350%;
    }
}

/* LARGE SCREEN OR BIGGER */
@media screen and (min-width: 1200px) {
    .bio-header {
        font-size: 500%;
    }
}

