// Tyler Smith, 2020
// Inspirations: w3schools.com ; platinumgod.co.uk

$color-white: #ffe6e6;
$color-white-hex: ffe6e6;
$color-main: #48728d;
$color-main-hex: 48728d;
$color-dark: #192024;
$font-libertine: 'LinLibertine_R', serif;
$font-louisgeorge: 'Louis George Cafe', sans-serif;

@mixin pattern-charliebrown($bgColor, $fgColorNoHashtag, $opacity) {
    background-attachment: fixed;
    background-color: $bgColor;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23#{$fgColorNoHashtag}' fill-opacity='#{$opacity}'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@mixin pattern-texture($bgColor, $fgColorNoHashtag, $opacity) {
    background-attachment: fixed;
    background-color: $bgColor;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23#{fgColorNoHashtag}' fill-opacity='#{$opacity}' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

// ANCHOR Main
h1 {
    text-align: center;
    font-size: 10vw;
}

h2 {
    text-align: center;
    font-size: 4vw;
}

// ANCHOR Header
#nav-wrapper {
    // Position
    height: 10vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
    // Layout
    display: flex;
    align-items: center;
    justify-content: center;
    // Style
    @include pattern-texture($color-main, $color-white-hex, 0.25);

    .header-icon {
        position: relative;
    }

    .fa-circle {
        color: $color-white;
    }
    
    // Font Awesome Icons
    svg {
        // Style
        cursor: pointer;
        color: $color-dark;
        transition: color 0.5s;
        height: 5vh;
    }
    
    // Nav-label sibling of Svg
    svg + .header-label {
        // Layout
        position: absolute;
        left: 0px;
        width: 100%;
        bottom: 100%;
        font-size: 1.5em;
        text-align: center;
        pointer-events: none;
        // Style
        color: $color-white;
        background-color: $color-dark;
        border-radius: 15%;
        opacity: 0%;
        transition: opacity 0.5s;
    }
    
    svg:hover {
        color: hue($color: green);
        color: $color-white;
    }

    svg:hover + .header-label {
        opacity: 100%;
    }
}

// ANCHOR Nav section
#container-nav {
    grid-column: nav;
    height: 95vh;
    background-color: $color-white;
    overflow-y: scroll;
    position: sticky;
    top: 5vh;
}

.navh-1 {
    margin-top: 15%;
    margin-left: 10%;
    font-weight: 800;
}

.navh-2 {
    margin-top: 5%;
    margin-left: 13%;
}


// ANCHOR Splash Section
#splash {
    // Layout
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    height: 95vh;

    // Style
    @include pattern-charliebrown($color-white, $color-main-hex, 0.25);
    background-size: 250%;

    h1 {
        // Layout
        grid-row: 2;
        
        // Style
        font-family: $font-libertine;
        color: $color-main;

        // Anim
        animation: splash-fade-in 1.8s ease-in;
    }

    h2 {
        margin-top: 25px;
        grid-row: 3;
        font-family: $font-libertine;
        color: lighten($color: $color-main, $amount: 10);
    }
}

@keyframes splash-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@media only screen and (max-width: 420px) {
    #splash h1 {
        font-size: 17vw;
    }

    #splash h2 {
        font-size: 10vw;
    }
}


// ANCHOR Showcase
#showcase-wrapper {
    // Layout
    display: grid;
    height: 100vh;
    width: 100%;
    position: relative;
    // Style
    @include pattern-charliebrown($color-main, $color-white-hex, 0.25);
    background-size: 250%;
    background-attachment: fixed;
    overflow: hidden;

    article {
        margin-top: 20vh;
        width: 80%;
        height: 50%;
        position: absolute;
        border-radius: 10%;
        background-color: $color-dark;
        transition: left 1s;
        left: 100%;
    }

    article.active {
        left: 0%;
    }
}