$clr-primary: #45a29e;
$clr-primary-tint: #66FCF1;
$clr-primary-shade: #1F2833;
$clr-secondary: #b4464c;
// $clr-secondary:

$clr-base-300: #eeeeee;
$clr-base-500: #cfcfcf;
$clr-base-700: #9c9c9c;
$clr-base-800: #616161;
$clr-base-900: #2a2a2a;

// these have been renamed, but can't refactor without going thru the entire code so they are pointing to another variable
$clr-gray: $clr-base-500;
$clr-white: #e4e4e4;
$clr-black: #0B0C10;

// $clr-primary: #E0A742;
// $clr-secondary: #4CE0DF;
// $clr-secondary-dark: #3A9493;
// $clr-tertiary: #3D36E0;
// $clr-tertiary-dark: #211C94;
// $clr-transparent: rgba(#FFF, 0.8);

// $colors: (
//     'primary': (
//         tint: #FFB74A,
//         base: #E0A742,
//         shade: #A1772F,
//     ),
//     'secondary': (
//         tint: #3E36E0,
//         base: #221C94,
//         shade: #131054,
//     ),
//     'detail': (
//         tint: #7FE0DF,
//         base: #4CE0DF,
//         shade: #3A9493,
//     ),
//     'white': (
//         base: #FFFFFF,
//         transparent: rgba(#FFFFFF, 0.7),
//     ),
//     'black': (
//         base: #000000,
//     ),
// );

// // Allows for easy color scheming!
// @function color($color-name, $tone: base) {
//     @return map-get(map-get($colors, $color-name), $tone);
// }