@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap');

@mixin font-display () {
    font-family: 'Staatliches', sans-serif;
}

@mixin font-handwritten () {
    font-family: 'Permanent Marker', sans-serif;
}

@mixin font-fancy () {
    font-family: 'PT Serif', serif;
}

@mixin font-lora () {
    font-family: 'Lora', serif;
}

@mixin font-lato () {
    font-family: 'Lato', sans-serif;
}

@mixin font-stencil () {
    font-family: 'Allerta Stencil', sans-serif;
}

@mixin font-sourcesans () {
    font-family: 'Source Sans Pro', sans-serif;
}