@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

@mixin font-display () {
    font-family: 'Staatliches', sans-serif;
}

@mixin font-handwritten () {
    font-family: 'Permanent Marker', sans-serif;
}

@mixin font-fancy () {
    font-family: 'PT Serif', serif;
}

@mixin font-lora () {
    font-family: 'Lora', serif;
}

@mixin font-stencil () {
    font-family: 'Allerta Stencil', sans-serif;
}