@import 'style';
$border-img: "/images/border/fancy-border.png";

// Global Styling Found Below

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    // pointer-events: none;
}

main {
    position: relative;
    // background-color: $clr-primary-shade;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(181deg, rgba(0,0,0,1) 0%, rgba(0,2,36,1) 27%, rgba(0,2,36,1) 100%);
    background: -webkit-linear-gradient(181deg, rgba(0,0,0,1) 0%, rgba(0,2,36,1) 27%, rgba(0,2,36,1) 100%);
    background: linear-gradient(181deg, rgba(0,0,0,1) 0%, rgba(0,2,36,1) 27%, rgba(0,2,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#8894d2",GradientType=1);
    min-height: 100vh;
    // pointer-events: none;

    #page-container {        
        margin: auto;
        height: 100%;
        @include bp-all;
    }
}

// Global Styling

.fancy-border {
    border: 5px solid black;
    border-image-source: url($border-img);
    border-image-slice: 3;
    border-image-outset: 1;
}

.fancy-shadow {
    box-shadow: black 0px 0px 10px;
}