@import 'style/colors', 'style/breakpoints', 'style/responsive', 'style/fonts';

$navbarWidth: 18vw;

///
// MAIN / NAVBAR positioning
///
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // position: fixed;
}

// This moves the navbar to the top on mobile
@media only screen and ($bp-mobile) {
    main {
        padding-left: 0;
    }
    nav {
        position: sticky;
        height: 10vh;
        width: 100%;
        top: 0;
    }
}

/// 
// HEADINGS 
///

.jumbo {
    @include responsive-static(font-size, 20, 100);
    @include font-handwritten;

    color: $clr-primary-light;
    font-weight: 100;

    letter-spacing: 0.2em;
    text-align: center;
}