@import 'style/responsive', 'style/colors';


#home-title-container {

    order: -1;
    justify-self: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0% 0% 25px 0%;
}

// 
// ANCHOR "Tyler Smith" title!!
// 
.home-title {
    @include responsive(font-size, 40, 200, 320, 1450);
    // text-shadow: 2px 2px 2px black;

}

.fxtext__text {
    text-shadow: 
        black 0px 5px 10px,
        black 5px 0px 10px,
        black -5px 0px 10px;
}