@import 'style/responsive', 'style/colors', 'style/fonts';


#home-title-container {
    order: -1;
    justify-self: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0% 0% 25px 0%;
}

hr {
    width: 50%;
    border-color: black;
    opacity: 0.25;
}

// 
// ANCHOR "Tyler Smith" title!!
// 
.home-title {
    // This includes both fxtexts
    @include responsive(font-size, 40, 200, 320, 1450);
    @include font-fancier;
    letter-spacing: normal;
    color: black;
}

.fxtext__text {
    text-shadow: 
        // black 0px 5px 10px;
        // black 5px 0px 10px,
        black -5px 0px 10px;
}