@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

$green-dark: #0b2518;
$clr-index-header: #081810;
$clr-index-body: #707065;
$clr-index-light: #ffffff;
$clr-text-secondary: #b4b4b4;
$clr-pink-light: #faddff;
$clr-button: #263f66;
$clr-headerfooter: #0b2518;
$clr-bubbleglass: #c4d6bf;
$clr-wood-carving: #31220f;
$clr-wood: #8e735a;

%font_cabin {
    font-family: 'Cabin', sans-serif;
}

%font_robotoCondensed {
    font-family: 'Roboto Condensed', sans-serif;
}

@mixin pseudoElement {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
}

@mixin borderBox () {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@mixin fx_glass ($glasscolor) {
    $blurAmount: 10px;
    background-color: rgba($color: $glasscolor, $alpha: 0.5);
    backdrop-filter: blur($blurAmount);
    -webkit-backdrop-filter: blur($blurAmount);
}

html, body {
    position: relative;
    width: 100%;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23081810' fill-opacity='0.4' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
}

section {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

header {
    @include fx_glass($clr-headerfooter);
    overflow: hidden;
    position: fixed;
    z-index: 10;
    text-align: center;
    order: 0;
    width: 100%;
    height: 7vh;
    font-size: 200%;
    color: $clr-pink-light;
    border-bottom: rgba($color: $clr-headerfooter, $alpha: 0.2) solid 3px;
}

footer {
    @include fx_glass($clr-headerfooter);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3vh;
    z-index: 10;
    border-top: rgba($color: $clr-headerfooter, $alpha: 0.2) solid 3px;
    text-align: center;
    font-size: 100%;
    color: $clr-pink-light;
    overflow: hidden;
}

.header-section, .footer-section {
    height: 100%;
}

#header-section-wrapper, #footer-section-wrapper {
    height: 100%;
    width: 100%;
}

.background-image {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -5;
    // Creates parralax effect
    background-attachment: fixed;
    background-position: 0px;
    background-size: cover;
    // background-repeat: no-repeat;
}

#splash {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 10;
    background-color: black;
    pointer-events: none;
}



#container {
    position: relative;
    height: 100%;
}

.content-panel {
    margin: auto;
    width: 60%;
    height: 100%;
    display: grid;
}

#index-container {
    .background-image {
        background-image: url("../Images/backgrounds/foggy-gabriela-palai.jpg");
        filter: grayscale(80%);
        -webkit-filter: grayscale(80%);
    }
    
    #fx-fog {
        $clr-fog: #1b9094;
        position: absolute;
        width: 100%;
        height: 100%;

        
        .fog-particle {
            filter: blur(10px);
            -webkit-filter: blur(10px);
            position: absolute;
            background: $clr-fog;
            background: radial-gradient(circle, $clr-fog -30%, rgba(208,210,215,0) 60%, rgba(228,230,237,0) 100%);
            height: 100%;
            width: 100%;
        }
    }

    .content-panel {
        grid-template-rows: [start] 2fr [links-start] 4fr [links-end end];
        grid-template-columns: [start] 1fr [end];
        height: 70%;
        width: 60vw;
        align-self: center;
        justify-content: center;
        position: relative;
        border-radius: 5px;
        box-shadow: 10px 10px 15px $green-dark;

        .panel-header {
            grid-column: start / span end;
            background-color: rgba($color: $clr-index-header, $alpha: 0.8);
            color: $clr-index-light;
            font-size: 8vw;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-evenly;
            align-self: center;
            height: 100%;
            width: 100%;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            border: 2px black solid;
            border-bottom: none;
            // border: black solid;

            p {
                font-size: 2vw;
                color: $clr-text-secondary;
            }
        }
    
        .panel-body {
            display: flex;
            flex-direction: column;

            height: 100%;
            width: 100%;            
            background-color: rgba($color: $clr-index-body, $alpha: 0.8);
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
            border: 2px black solid;
            border-top: none;
            text-align: center;

            #index-about {
                display: flex;
                flex-direction: column;
                justify-content: center;
                order: 1;
                height: 75%;

                h1 {
                    font-size: max(2vw, 15px);
                }

                h2 {
                    font-size: max(1.8vw, 14px);
                }
            }

            .contact-info {
                order: 2;

                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                @extend %font_robotoCondensed;
                font-size: min(6vw, 150%);

                #contact-personal {
                    order: 1;
                    width: 100%
                }

                .index-link {
                    order: 2;
                    margin: 2% 5%;
                    text-decoration: none;
                }

                .index-link:hover {
                    background-color: lighten($color: $clr-button, $amount: 50);
                    text-decoration: underline;
                }
            }
        }
    }


    // .content-panel::before {
    //     @include pseudoElement;
    //     height: 66%;
    //     bottom: 0;
    //     background-color: $clr-pink-light;
    //     border-radius: 0 0 30px 30px;

    // }
}

#portfolio-container {
    @include borderBox();
    border: solid;
    border-width: 26px 0;
    border-image: url(../Images/textures/wood-logs.jpg) 53;
    border-image-repeat: repeat;
    height: 100%;
    
    #portfolio-bg-trees {
        bottom: 0;
        background-image: url("../Images/backgrounds/portfolio-trees-efdal-yildiz.png");
        background-position: left bottom;
        background-attachment: local;
        background-size: 75%;
        background-repeat: repeat-x;
    }

    #portfolio-bg-stars {
        left: 0;
        width: 120%;
        background-size: 140%;
        background-image: url("../Images/backgrounds/portfolio-starry-felix-mittermeier.jpg");
        z-index: -6;
    }
    
    .content-panel {
        // display: grid;
        // grid-template-rows: 0.5fr 1fr 1fr;
        // grid-template-columns: repeat(2, 1fr);
        // grid-template-areas: 
        // "header header"
        // "project1 project2"
        // "project3 project4";

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;

        background-image: url(../Images/textures/wood-old.jpg);
        background-size: 25%;
        border: 4px $clr-wood;
        border-style: ridge;
        border-top: none;
        border-bottom: none;
        height: 100%;
        width: 60vw;

        .panel-header {
            order: 0;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            grid-area: header;
            border-bottom: 26px solid;
            border-image: url(../Images/textures/wood-logs.jpg) 53;
            background-image: url(../Images/textures/wood-rough-seamless.jpg);
            background-size: 25%;
            // border-image: inherit;
            
            h1 {
                @extend %font_cabin;
                font-size: max(8vw, 25px);
                text-shadow: #b38a64 0px 2px 2px;
                color: $clr-wood-carving;                
            }
        }

        .portfolio-project {
            @media only screen and (max-width: 425px) {
                // If less than 425px wide, set width to 100% so only one project per row
                width: 100%;
            }

            box-sizing: border-box;
            width: 50%;
            // flex-basis: 50%;

            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: start;
            padding: 2% 2%;

            a {
                @extend %font_cabin;
                font-size: max(2vw, 20px);
            }

            p {
                font-size: max(1vw, 12px);
            }

            img {
                width: 100%;
                overflow: hidden;
                border-radius: 5px;
                border: 2px solid;
            }
        }

        #portfolio-project-1 { order: 1; }
        #portfolio-project-2 { order: 2; }
        #portfolio-project-3 { order: 3; }
        #portfolio-project-4 { order: 4; }

    }
    
}

#contact-container {
    position: relative;

    .background-image {
        // background-image: url(../Images/backgrounds/topdown-coffee-brand-&-palms.jpg);
        background-attachment: local;
        background-repeat: no-repeat;
        background-position: left;
    }

    .content-panel {
        position: relative;
        margin: auto;
        height: 50%;
        // left: 4%;
        background-color: gray;
        box-shadow: 
            white 1px 1px,
            hotpink 2px 2px,
            hotpink 3px 3px,
            hotpink 4px 4px,
            hotpink 5px 5px,
            hotpink 6px 6px 6px;
    }

    .contact-bubbles-wrapper {
        display: flex;
        justify-content: center;
    }

    .contact-bubble {
        @include fx_glass($clr-bubbleglass);
        // position: absolute;
        display: flex;
        align-self: center;
        align-items: center;
        // margin: auto;
        width: max(8vw, 45px);
        height: max(8vw, 45px);
        border-radius: 100%;
        border: 2px solid darken($clr-bubbleglass, 20);
        z-index: 5;
        box-shadow: gray 3px 3px 5px;

        span {
            position: absolute;
            width: 100%;
            text-align: center;
        }
    }

    .contact-bubble:hover {
        width: max(9vw, 55px);
        height: max(9vw, 55px);
    }

    .contact-bubble::before, .contact-bubble::after {
        @include pseudoElement();
        width: 30%;
        height: 30%;
        border-radius: 50px 800px;
        margin: inherit;
        background-color: lighten($clr-bubbleglass, 15);
        // background-color: red;
        right: 7%;
        top: 12%;
    }

    .contact-bubble::after {
        width: 10%;
        height: 10%;
        border-radius: 100%;
        right: 40%;
        top: 4%;
    }
}



.button-large {
    background-color: $clr-button;
    border: 3px outset $green-dark;
    border-radius: 20px;
    color: $clr-pink-light;
    cursor: pointer;
    padding: 1% 2%;
}

.button-large:active {
    border: inset;
}