html, body {
  position: relative;
  width: 100%;
}

section {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

header {
  background-color: rgba(11, 37, 24, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  overflow: hidden;
  position: fixed;
  z-index: 10;
  text-align: center;
  order: 0;
  width: 100%;
  height: 7vh;
  font-size: 200%;
  color: #faddff;
  border-bottom: rgba(11, 37, 24, 0.2) solid 3px;
}

footer {
  background-color: rgba(11, 37, 24, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3vh;
  z-index: 10;
  border-top: rgba(11, 37, 24, 0.2) solid 3px;
  text-align: center;
  font-size: 100%;
  color: #faddff;
  overflow: hidden;
}

.header-section, .footer-section {
  height: 100%;
}

#header-section-wrapper, #footer-section-wrapper {
  height: 100%;
  width: 100%;
}

.background-image {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -5;
  background-attachment: fixed;
  background-position: 0px;
  background-size: cover;
}

#splash {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background-color: black;
  pointer-events: none;
}

#container {
  position: relative;
  height: 100%;
}

.content-panel {
  margin: auto;
  width: 60%;
  height: 100%;
  display: grid;
}

#index-container .background-image {
  background-image: url("../Images/backgrounds/foggy-gabriela-palai.jpg");
}
#index-container #fx-fog {
  position: absolute;
  width: 100%;
  height: 100%;
}
#index-container #fx-fog .fog-particle {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  position: absolute;
  background: #1b9094;
  background: radial-gradient(circle, #1b9094 -30%, rgba(208, 210, 215, 0) 60%, rgba(228, 230, 237, 0) 100%);
  height: 100%;
  width: 100%;
}
#index-container .content-panel {
  grid-template-rows: [start] 2fr [links-start] 4fr [links-end end];
  grid-template-columns: [start] 1fr [end];
  height: 70%;
  width: 60vw;
  align-self: center;
  justify-content: center;
  position: relative;
  border-radius: 30px;
  box-shadow: 10px 10px 15px #0b2518;
}
#index-container .content-panel .panel-header {
  grid-column: start/span end;
  background-color: #081810;
  color: #faddff;
  font-size: 8vw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border: 2px black solid;
  border-bottom: none;
}
#index-container .content-panel .panel-body {
  display: grid;
  grid-template-rows: [start links-start] 1fr 1fr 1fr 1fr [links-end end];
  grid-template-columns: [start links-start] 1fr [links-end] 2fr [end];
  height: 100%;
  width: 100%;
  background-color: #707065;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border: 2px black solid;
  border-top: none;
  text-align: center;
}
#index-container .links-wrapper .index-link {
  font-size: 200%;
  margin: 2% 5%;
}

#portfolio-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid;
  border-width: 26px 0;
  border-image: url(../Images/textures/wood-logs.jpg) 53;
  border-image-repeat: repeat;
}
#portfolio-container #portfolio-bg-trees {
  bottom: 0;
  background-image: url("../Images/backgrounds/portfolio-trees-efdal-yildiz.png");
  background-position: bottom;
  background-attachment: local;
  background-size: 75%;
  background-repeat: repeat-x;
}
#portfolio-container #portfolio-bg-stars {
  left: 0;
  width: 120%;
  background-size: 120%;
  background-image: url("../Images/backgrounds/portfolio-starry-felix-mittermeier.jpg");
  z-index: -6;
}
#portfolio-container .content-panel {
  display: grid;
  background-color: green;
  height: 100%;
  width: 80vw;
}

#contact-container .content-panel {
  background-color: blue;
}

.links-wrapper {
  display: flex;
  flex-direction: column;
  grid-row: links-start/links-end;
  grid-column: links-start/links-end;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  z-index: 2;
}
.links-wrapper .button:hover {
  background-color: #abc0e0;
}

.button-large {
  background-color: #263f66;
  border: 3px outset #0b2518;
  border-radius: 20px;
  color: #faddff;
  cursor: pointer;
  padding: 1% 2%;
}

.button-large:active {
  border: inset;
}