@import 'style/responsive', 'style/colors';

section {
    margin: auto;   
    text-align: center;

    h1 {
        @include responsive-static(font-size, 30, 50);
        padding-top: 20px;
        color: $clr-gray;
    }
    
    h2 {
        @include responsive-static(font-size, 18, 30);
    }

    p {
        margin-top: 20px;
        color: $clr-gray;
    }
    
    // ANCHOR The about section, aka Tyler Smith & description
    &#home-about-section {
        @include responsive-static(padding-top, 20, 60);
        @include responsive-static(padding-bottom, 20, 80);
    }
}
