@import 'style/responsive', 'style/colors';

section {

    @media only screen and (min-width: 768px) {
        max-width: 50%;
    }

    @media only screen and (max-width: 769px) {
        width: 100%;
    }

    margin: auto;   
    text-align: center;

    h1 {
        @include responsive-static(font-size, 30, 50);
        padding-top: 20px;
        // color: $clr-gray;
    }
    
    h2 {
        @include responsive-static(font-size, 18, 30);
    }

    p {
        margin-top: 20px;
        // color: $clr-gray;
    }
}

#landing-intro {
    color: white;
    padding: 15% 0;
}