@import 'style/responsive', 'style/colors', 'style/fonts';

section {
    margin: auto;   
    text-align: center;

    h1 {
        @include responsive-static(font-size, 30, 50);
        padding-top: 20px;
        // color: $clr-gray;
    }
    
    h2 {
        @include responsive-static(font-size, 18, 30);
    }

    p {
        margin-top: 20px;
        // color: $clr-gray;
    }
}

#landing-intro {
    color: white;
    padding: 15% 0;

    h1, p {
        font-weight: 100;
        text-transform: uppercase;
    }

    h1 {
        @include responsive-static(font-size, 50, 80);
    }

    p {
        @include responsive-static(font-size, 20, 50);
    }
}
