@import 'style/colors', 'style/responsive', 'style/fonts', 'style/breakpoints';

// Config:
$padding-h1: 0%;
$padding-h2: 4%;

// 
// ANCHOR ALL DEVICES NAVBAR:
// 

nav {
    display: flex;
    position: relative;
    left: 0;

    // DESKTOP NAVBAR
    flex-direction: row;
    justify-content: center;

    // MOBILE NAVBAR
    
}

.navbar-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;

    width: 300px;
}   

// Navbar Separator, aka divider
.nav-divider-wrapper {
    @include responsive-static(height, 22, 60);
    width: 10px;
    display: flex;
    align-items: center;

    .nav-divider {
        width: 80%;
        padding-top: 80%;
        border-radius: 100%;
        background-color: black;
    }
}

.link {
    $hoverScale: 1.2;
    $hoverTime: 0.2s;

    @include font-fancy;
    display: block;
    transition: ease $hoverTime transform;


    &:hover {
        color: blue;
        -webkit-transform: scale($hoverScale);
        transform: scale($hoverScale);
    }
}

.link-h1 {
    @include responsive-static(font-size, 15, 40);
    color: $clr-primary-dark;
}

.link-h2 {
    @include responsive-static(font-size, 5, 10);
    padding: 1% 0;
    color: $clr-primary-dark;
    text-transform: initial;
}

// 
// ANCHOR Mobile Devices Navbar:
@media only screen and ($bp-mobile) {
    
}