@import 'style/colors', 'style/responsive', 'style/fonts', 'style/breakpoints';

// Config:
$padding-h1: 0%;
$padding-h2: 4%;

// 
// ANCHOR ALL DEVICES NAVBAR:
// 

nav {
    // ANCHOR ALL variants
    display: flex;
    position: relative;
    left: 0;
    justify-content: center;
    flex-direction: row;
    background-color: $clr-primary-light;

    &.variant-home {
        background-color: unset;
    }
}

.navbar-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    width: 300px;

    // Example use of accessing parent variant
    .variant-home & {
        // background-color: red;
    }
}   

// Navbar Separator, aka divider
.nav-divider-wrapper {
    @include responsive-static(height, 22, 60);
    width: 10px;
    display: flex;
    align-items: center;

    .nav-divider {
        width: 80%;
        padding-top: 80%;
        border-radius: 100%;
        background-color: black;
    }
}

.link {
    $hoverScale: 1.2;
    $hoverTime: 0.2s;

    @include font-fancy;
    display: block;
    transition: ease $hoverTime transform;


    &:hover {
        color: blue;
        -webkit-transform: scale($hoverScale);
        transform: scale($hoverScale);
    }
}

.link-h1 {
    @include responsive-static(font-size, 15, 50);
    color: $clr-primary-dark;
}

.link-h2 {
    @include responsive-static(font-size, 8, 20);
    padding: 1% 0;
    color: $clr-primary-dark;
    text-transform: initial;
}

// 
// ANCHOR Mobile Devices Navbar:
@media only screen and ($bp-mobile) {
    
}