@import 'style/colors', 'style/responsive', 'style/fonts', 'style/breakpoints';

// Config:
$padding-h1: 0%;
$padding-h2: 4%;

nav {
    display: flex;
    position: relative;
    left: 0;

    // DESKTOP NAVBAR
    flex-direction: row;
    justify-content: center;

    // MOBILE NAVBAR
    @media only screen and ($bp-mobile) {
        
    }

}

.navbar-group {
    display: flex;
    flex-direction: column;
    text-align: center;

    width: 300px;
}

.nav-divider-wrapper {
    @include responsive-static(height, 22, 60);
    width: 10px;
    border: 1px dotted green;
    display: flex;
    align-items: center;

    .nav-divider {
        // content: '';
        width: 100%;
        padding-top: 100%;
        border-radius: 100%;
        background-color: red;
    }
    // border-left: 2px solid black;
    // box-sizing: content-box;
    // padding: 10% 0%;
    // height: 10px;
}

.link {
        @include font-fancy;
}

.link-h1 {
    @include responsive-static(font-size, 15, 40);
    // padding-top: 10%;
    padding-left: $padding-h1;
}

.link-h2 {
    padding-top: 2%;
    padding-left: $padding-h2;
}