$clr-primary: #E0A742;
$clr-secondary: #4CE0DF;
$clr-secondary-dark: #3A9493;
$clr-tertiary: #3D36E0;
$clr-tertiary-dark: #211C94;
$clr-transparent: rgba(#FFF, 0.8);

$colors: (
    'primary': (
        tint: #FFB74A,
        base: #E0A742,
        shade: #A1772F,
    ),
    'secondary': (
        tint: #3E36E0,
        base: #221C94,
        shade: #131054,
    ),
    'detail': (
        tint: #7FE0DF,
        base: #4CE0DF,
        shade: #3A9493,
    ),
);

@function color($color-name, $tone: base) {
    @return map-get(map-get($colors, $color-name), $tone);
}