@import 'style/responsive', 'style/colors', 'style/fonts';

footer {
    border-bottom: 0px; 
    position: relative;
    z-index: 5;
    
    // Grid
    display: grid;
    column-gap: 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "more contact"; 
        
    height: 250px;
    width: 100%;
    padding: 45px 0;

    color: $clr-white;
    // align-items: center;
    // text-align: center;
    
    // background-color: $clr-white;
    
}

#footer-contact {
    grid-area: contact;
}

#footer-more {
    grid-area: more;
}