@import 'style/colors', 'style/breakpoints', 'style/responsive', 'style/fonts';

$ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);

@mixin browser-border {
    border: 4px inset rgba(56, 57, 116, 0.37);
}

.sectionbrowser {
    position: relative;
    
    // This pseudo element is used for the box shadow around the section browser
    &::before {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        left: 0;
        content: '';
        pointer-events: none;
        
        border-radius: 10px 10px 0 0;
        box-shadow: 0px -1vh 50vw 2vw rgba(255, 128, 234, 0.37); 
    }

    .sectionbrowser-header {
        position: sticky;
        position: -webkit-sticky;
        top: 0;

        display: flex;
        justify-content: space-around;

        width: 100%;
        padding: 1.5em 0.5em;
        margin: 0;
        
        color: black;
        background-color: $clr-white;
        border-radius: 10px 10px 0 0;
        @include browser-border;
        border-bottom: 0px;

        transition: font-size 0.5s;
        transition: padding 0.5s;
        
        // The list elements in the header (each of the sections in the header)
        li {
            list-style-type: none;

            // The actual button
            a {
                color: black;
                background-color: transparent;
                padding: 0.5em 1.0em;
                border-radius: 10px;

                @include responsive-static(font-size, 8, 30);

                transition: background-color 0.2s $ease-out-cubic;
                transition: font-size 0.4s $ease-out-cubic;
            }

            // Hover over a button
            a:hover {
                background-color: $clr-gray;
                text-decoration: none;
            }

            // Current Section in header
            &.current {
                a {
                    background-color: white;
                }
            }
        }
    }

    // The sections themselves
    .sectionbrowser-content-section {

        // padding: 40px 10% 40px 10%;
        padding: 5vh 10% 5vh 10%;
        // padding: 300px 10% 200px 10%; // TODO THIS IS PURELY FOR DEBUG GET RID OF THIS

        h2 {
            @include font-lato;
        }

        p {
            @include font-sourcesans;
        }
    }

    // The HR between each content
    hr {
        border-top: 1px solid gray;
        margin: 1rem 5%;
    }

    // The colorful HR
    h2 hr {
        margin: 1.5rem 43%;
        border-top: 0;
        height: 2px;
        border-radius: 50px;

        background: rgb(142,55,166);
        background: -moz-linear-gradient(90deg, rgba(142,55,166,1) 0%, rgba(202,41,41,1) 51%, rgba(253,29,235,1) 88%, rgba(250,253,29,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(142,55,166,1) 0%, rgba(202,41,41,1) 51%, rgba(253,29,235,1) 88%, rgba(250,253,29,1) 100%);
        background: linear-gradient(90deg, rgba(142,55,166,1) 0%, rgba(202,41,41,1) 51%, rgba(253,29,235,1) 88%, rgba(250,253,29,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8e37a6",endColorstr="#fafd1d",GradientType=1);
    }
}

// Everything under the header
.sectionbrowser-content {
    background-color: white;
    @include browser-border;
    border-top: 0px;
}

//  The Section Browser while pinned to
.sectionbrowser.pinned {
    .sectionbrowser-header {
        // padding: 1.5em 0.4em;
        // height: 5em;

        li {

            a {
                @include responsive-static(font-size, 8, 20);
            }

            &.current a {
                @include responsive-static(font-size, 8, 30);
            }
            
        }
    }
}