@import 'style/colors', 'style/breakpoints', 'style/responsive', 'style/fonts';

$ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);

.sectionbrowser {
    background-color: white;
    // color: $clr-black;   

    .sectionbrowser-header {
        position: sticky;
        position: -webkit-sticky;
        top: 0;

        display: flex;
        justify-content: space-around;

        width: 100%;
        padding: 1em 0.5em;
        
        background-color: $clr-white;
        color: black;
        
        // The list elements in the header (each of the sections in the header)
        li {
            list-style-type: none;

            // The actual button
            a {
                color: black;
                background-color: transparent;
                padding: 0.5em 2em;
                border-radius: 10px;

                transition: background-color 0.2s $ease-out-cubic;
            }

            // Hover over a button
            a:hover {
                background-color: $clr-gray;
                text-decoration: none;
            }

            // Current Section in header
            &.current {
                a {
                    background-color: white;
                }
            }
        }
    }

    // The sections themselves
    .sectionbrowser-content-section {
        padding: 20px 0 10px 0;
        padding: 300px 0 200px 0; // TODO THIS IS PURELY FOR DEBUG GET RID OF THIS
    }

    // The HR between each content
    hr {
        border-top: 1px solid gray;
        margin: 1rem 5%;
    }

    // The colorful HR
    h2 hr {
        margin: 1rem 35%;
        border-top: 0;
        height: 2px;
        border-radius: 50px;

        background: rgb(142,55,166);
        background: -moz-linear-gradient(90deg, rgba(142,55,166,1) 0%, rgba(202,41,41,1) 51%, rgba(253,29,235,1) 88%, rgba(250,253,29,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(142,55,166,1) 0%, rgba(202,41,41,1) 51%, rgba(253,29,235,1) 88%, rgba(250,253,29,1) 100%);
        background: linear-gradient(90deg, rgba(142,55,166,1) 0%, rgba(202,41,41,1) 51%, rgba(253,29,235,1) 88%, rgba(250,253,29,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8e37a6",endColorstr="#fafd1d",GradientType=1);
    }
}