@import 'style/fonts', 'style/colors', 'style/responsive';

.project {
    width: 100%;
    margin: 2% 2% 7vh 2%;
    text-align: center;

    .project__info {
        display: flex;


        .project-img {
            // border: 2px solid $clr-primary;
            background-color: $clr-black;
            height: 25%;
            min-width: 25%;
            width: 25%;
        }

        .project-description {
            height: 100%;
            padding: 0% 10%;
            line-height: 200%;
        }
    }

    .project-title {
        @include font-display;
        @include responsive-static(font-size, 20, 50);
        color: $clr-gray;
        // border-bottom: 1px gainsboro solid;
    }    
}