@import 'style/fonts', 'style/colors', 'style/responsive';

.project {
    width: 46%;
    margin: 2% 2%;
    text-align: center;

    background-color: white;
    border-radius: 10px;

    .project-title {
        @include font-display;
        @include responsive-static(font-size, 20, 40);
        border-bottom: 1px gainsboro solid;

    }
}